* {
    padding: 0% 2%;
    font-family: sans-serif;
}

body {
    background-color: black;
    text-align: center;
}

#main {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    height: 500px;
    animation-name: an;
    animation-duration: 100s;
    animation-iteration-count: 30s;
    position: relative;
}

.caixas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
    background-color: gray;
    width: 25%;
    height: 500px;
}

.disco {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.disco:hover {
    animation-name: zoom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes zoom {
    from {}
    50% {
        background-color: #ccc;
    }
}

#disco1 {
    background-color: #aa3939;
    width: 40%;
}

#disco2 {
    background-color: #226666;
    width: 61%;
}

#disco3 {
    background-color: #aa6c39;
    width: 80%;
}

#disco4 {
    background-color: #2d882d;
    width: 100%;
}

#winner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, .1);
    animation-name: blinke;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blinke {
    from {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

#winner p {
    font-size: 100px;
    color: yellowgreen;
    position: absolute;
    margin-top: -20%;
}